.header {
    top: 0;
    width: 100%;
    display: flex;
    padding: 0 10%;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    background-color: snow;
}

.header img {
    width: 55px;
}

header nav {
    gap: 1em;
    display: flex;
}

nav a {
    padding: 10px;
    position: relative;
    border-radius: 10px;
    transition: linear 0.3s;
    color: black;
}

nav a:hover {
    background-color: rgba(33, 159, 255, 0.416);
}

.responsive-button {
    border: none;
    display: none;
    cursor: pointer;
    background-color: transparent;
}