@media screen and (max-width: 400px) {

}

@media screen and (max-width: 768px) {
    .responsive-button {
        display: block;
    }
    
    header nav {
        gap: 0;
        top: 0;
        right: 0;
        width: 33%;
        padding: 2% 0;
        position: absolute;
        text-align: center;
        margin-right: -100vw;
        flex-direction: column;
        animation-duration: 1s;
        background-color: rgb(135, 206, 250);
    }

    nav a {
        height: 40px;
        display: flex;
        border-radius: 0;
        align-items: center;
        justify-content: center;
    }

    .home .homeBox {
        height: 248px;
        padding: 18% 0 0 10%;
    }

    .homeBox .nome {
        font-size: 46px;
    }

    .homeBox .titulo {
        font-size: 20px;
    }

    @keyframes showMenu {
        from {margin-right: -100vw;}
        to {margin-right: -10vw;}
    }
}

@media screen and (max-width: 1024px) {
    .main .home {
        background-image: url(../img/fundo-pequeno.jpeg);
    }
}

@media screen and (max-width: 1200px) {
    header nav {
        margin-right: 0vw;
    }
}
